{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "ecmaFeatures": {
    "jsx": true
  },
  "env": {
    "es6": true
  },
  "plugins": [
    "react",
    "react-native"
  ],
  "rules": {
    "max-len": ["error", 130, 4, {"ignoreUrls": true}],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
  }
}
