{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "ecmaFeatures": {
    "jsx": true
  },
  "env": {
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "max-len": ["error", 130, 4, {"ignoreUrls": true}]
  }
}
